{{/* Div wrapper around page links. */}}
{{/* The wrapper is hidden when the page has no link buttons. */}}

{{ $has_attachments := partial "functions/has_attachments" . }}
{{ if $has_attachments | or .Params.external_link }}
<div class="">
  {{ with .Params.external_link }}
  <a class="hover:bg-green-700 font-bold py-2 px-4 rounded inline-block" href="{{ . }}" target="_blank" rel="noopener">
    Get start
  </a>
  {{ end }}
  |
  {{ with .Params.doc_link }}
  <a class="hover:bg-green-700 font-bold py-2 px-4 rounded inline-block" href="{{ . }}" target="_blank" rel="noopener">
    Read the docs
  </a>
  {{ end }}


  {{ partial "page_links" (dict "page" . "is_list" 0) }}
</div>
{{ end }}
